VITE_MINIMAL_MODE=true
VITE_API_BASE=/api
VITE_ENABLE_TENANT_PORTAL=false
VITE_ENABLE_PAYMENT_AUTOMATIONS=false
VITE_ENABLE_DASHBOARD_REALTIME=false
VITE_CLERK_PUBLISHABLE_KEY=
VITE_UMAMI_WEBSITE_ID=
VITE_UMAMI_SRC=
VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONMENT=
VITE_SENTRY_TRACES_SAMPLE_RATE=0.1
VITE_SENTRY_REPLAY_SESSION_SAMPLE_RATE=0
VITE_SENTRY_REPLAY_ON_ERROR_SAMPLE_RATE=1
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_RELEASE=
SENTRY_URL=
