/node_modules/
/frontend/dist/
/frontend/node_modules/
/backend/dist/
/backend/node_modules/
/backend/backend/
/backend/backend/logs/
/backend/logs/
/backend/documents/contracts/*.pdf
/backend/src/documents/contracts/*.pdf
/pdfdocs/
/sql/*.log
/tmp/
*.log
.env
.env.*
.DS_Store
.vscode/
.idea/
